body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: white;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

header ul {
    display: flex;
}

header li {
    margin-left: 20px;
}

.btn {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 600;
}

.btn:hover {
    background-color: #ffed4b;
    border-radius: 12px;
    box-shadow: 1px 2px 3px black;
}

#page-logo a{
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    color: #ffed4b;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

footer {
    height: 50px;
    padding: 20px 0;
    background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    height: 35px;
    margin: 0 15px;
}

footer img {
    height: 100%;
    width: 100%;
}

footer img:hover {
    filter: sepia(70%) saturate(1905%) hue-rotate(326deg) brightness(106%) contrast(103%);
}
